@media screen and (max-width:1300px){

    h1{
        font-size:2.5rem;
    }
    h3{
        font-size: 2.1rem;
    }
    p{
        font-size: 1.5rem;
    }
    }
        
    
    @media screen and (max-width:1200px){
       
    
       .about-text p:last-child{
        display: none;
       }
       .nav-btn .btn{
        display: none;
       }
       .work-text-info{
        padding: 8px;
       }
       .work-text-info h5{
        font-size: 0.8rem;
       }
       .form-container{
        width: 70%;
       }
       .form-item label{
        font-size: 1rem;
       }
       .text-area label{
        font-size: 1.2rem;
       }
        } 
        
        @media screen and (max-width:992px){
            .nav-links{
                gap:1rem;
            }
            .about-text{
              margin-top: 0;
            }
            .about-text h3{
              margin-bottom: 2rem;
          }
           
            .service-grid{
                display: grid;
                grid-template-columns: repeat(2,1fr);
                gap: 2rem;
            }
            .work-grid{
                display: grid;
                gap: 1rem;
                grid-template-areas: 
                "a1 a2 a3"
                "a1 a2 a3"
                "a1 a2 a3"
                "a4 a5 a3"
                "a4 a5 a3";
            }
            .work-item:nth-child(1){
                grid-area: a1;
            }
            .work-item:nth-child(2){
                grid-area: a2;
            }
            .work-item:nth-child(3){
                grid-area: a3;
            }
            .work-item:nth-child(4){
                grid-area: a4;
            }
            .work-item:nth-child(5){
                grid-area: a5;
            }
            .work-item img{
                width: 100%;
                height: 100%;
            }
            .work-text-info{
                padding: 5px;
            }
            .work-text-info h5{
                font-size: 0.8rem;
            }
            .work-text-info small{
                font-size: o.2rem;
            }
    
            .pricing-item{
              padding: 3rem 3rem;
            }
            .pricing-head{
              display: flex;
              justify-content: space-between;
            }
            .pricing-head h5{
              font-size: 1.5rem;
            }
            .pricing-head i{
              margin-right: 0.5rem;
          }
            .pricing-body h5{
              font-size: 1.2rem;
              margin-bottom: 0.4rem;
          }
            .pricing-body ul li{
              font-size: .8rem;
              list-style: circle;
              margin-left: 1.1rem;
              margin-bottom: 1rem;
          }
            .pricing-grid{
                grid-template-columns:1fr 1fr;
                gap: 2rem;
              
            }
            .pricing-item:last-child{
              height: 100%;
          
            }
            .pricing-item::after{
              content: "Recommand Plan";
              font-size: 0.8rem;
    
          }
          .pricing-body p{
            font-size: 1rem;
            text-align: left;
        }
        }
    
        @media screen and (max-width:768px){
            .nav-links{
                display: none;  
              }
              .header-container{
                margin-top: -50px;
                grid-template-columns: 1fr;
                margin-bottom: -5rem;
              }
              .hero-right{
                display: none;
              }
              .about-body{
                display: grid;
                grid-template-columns: 1fr;
                gap:3rem;
              }
              .about-right-btn{
                display: none;
              }
    
              .service-grid{
                display: grid;
                grid-template-columns: 1fr;
    
                      }
                      .service-item:nth-child(even){
                        padding: 4rem 0 4rem;
                      }
                      #section-3{
                        display: none;
                      }
                      .pricing-heading{
                        font-size: 2.5rem;
                      }
                      .form-grid{
                        grid-template-columns: 1fr;
                      }
                      .footer-item:nth-child(2){
                        display: none;
                      }
                      .footer-item:nth-child(3){
                        display: none;
                      }
                      .footer-item input{
                        display: inline-block;
                      }
                    }
                    @media screen and (max-width:540px){
                      h5{
                        font-size:1.5rem ;
                      }
                      .pricing-body h5{
                        font-size: 1rem;
                      }
                      .pricing-body p{
                        font-size:0.8rem
                      }
                      .pricing-grid{
                        grid-template-columns: 1fr;
                      }
                      .form-title{
                        font-size:1.5rem ;
                      }
                      .form-btn{
                        font-size: 1.2rem;
                      }
                      
                      .footer-item h4{
                        font-size: 2rem;
                      }

                    }
                    @media screen and (max-width:400px){
                      .pricing-item{
                        padding: 3rem 1rem;
                      }
                      .pricing-head h5 i{
                        margin-right: 0.5rem;
                      }
                      .pricing-body{
                        padding-top: 1rem;
                        padding-left: 2rem;
                      }
                    }

        
        
        
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    