@media screen and (max-width:1300px){

    h1{
        font-size:2.5rem;
    }
    h3{
        font-size: 2.1rem;
    }
    p{
        font-size: 1.5rem;
    }
    }
        
    
    @media screen and (max-width:1200px){
       
    
       .about-text p:last-child{
        display: none;
       }
       .nav-btn .btn{
        display: none;
       }
       .work-text-info{
        padding: 8px;
       }
       .work-text-info h5{
        font-size: 0.8rem;
       }
       .form-container{
        width: 70%;
       }
       .form-item label{
        font-size: 1rem;
       }
       .text-area label{
        font-size: 1.2rem;
       }
        } 
        
        @media screen and (max-width:992px){
            .nav-links{
                gap:1rem;
            }
            .service-grid{
                display: grid;
                grid-template-columns: repeat(2,1fr);
                gap: 2rem;
            }
            .work-grid{
                display: grid;
                gap: 1rem;
                grid-template-areas: 
                "a1 a2 a3"
                "a1 a2 a3"
                "a1 a2 a3"
                "a4 a5 a3"
                "a4 a5 a3";
            }
            .work-item:nth-child(1){
                grid-area: a1;
            }
            .work-item:nth-child(2){
                grid-area: a2;
            }
            .work-item:nth-child(3){
                grid-area: a3;
            }
            .work-item:nth-child(4){
                grid-area: a4;
            }
            .work-item:nth-child(5){
                grid-area: a5;
            }
            .work-item img{
                width: 100%;
                height: 100%;
            }
            .work-text-info{
                padding: 5px;
            }
            .work-text-info h5{
                font-size: 0.8rem;
            }
            .work-text-info small{
                font-size: o.2rem;
            }
            .pricing-grid{
                grid-template-columns:1fr 1fr;
                gap: 5rem;
            }
            .pricing-item:last-child{
                height: 100%;
            }
    
        }
    
        @media screen and (max-width:768px){
            .nav-links{
                display: none;  
              }
              .header-container{
                margin-top: -50px;
                grid-template-columns: 1fr;
                margin-bottom: -5rem;
              }
              .hero-right{
                display: none;
              }
              .about-body{
                display: grid;
                grid-template-columns: 1fr;
                gap:3rem;
              }
              .about-right-btn{
                display: none;
              }
    
              .service-grid{
                display: grid;
                grid-template-columns: 1fr;
    
                      }
                      .service-item:nth-child(even){
                        padding: 4rem 0 4rem;
                      }
                      #section-3{
                        display: none;
                      }
                      .pricing-heading{
                        font-size: 2.5rem;
                      }
                      .form-grid{
                        grid-template-columns: 1fr;
                      }
                      .footer-item:nth-child(2){
                        display: none;
                      }
                      .footer-item:nth-child(3){
                        display: none;
                      }
                      .footer-item input{
                        display: inline-block;
                      }
                    }
        
        
        
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    